<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/loginmeneger.css">
</head>
<body>
<header class="minecraftMenu">
    <img class="Minecraftlogo" src="/static/img/Global-Header_MCCB-Logo_300x51.svg" alt="">
    <div class="mineihead">
        <button class="games">
            <h4>GAMES</h4>
            <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">
        </button>
        <button class="games">
            <h4>SHOP</h4>
            <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">
        </button>
        <button class="games1">
            <h4>COMMUNITY</h4>
            <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">
        </button>
        <button class="games2">
            <h4>SUPPORT</h4>
            <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">
        </button>


    </div>
    <div class="accsea">
        <button class="search">
            <img class="searchimg" src="/static/img/magnifying-glass-solid%20(1).svg" alt="">
            <h4>SEARCH</h4>
            <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">

        </button>

        <a class="asl" href="{{ url_for("Logb") }}">
            <button class="accaunt">
                <img class="accimg" src="/static/img/lock-solid.svg" alt="">

                <h4>ACCOUNT</h4>
                <img class="imgdawn" src="/static/img/chevron-down-solid.svg" alt="">
            </button>
        </a>


    </div>
</header>
<section style="background-image: url(/static/img/MSA_Stage5_Login.jfif);background-size: cover" class="menegerlogin">
    <div class="container3000">
        <div class="minecraftMenusignuporreg">
            <h2>Sign In or Sign Up</h2>
        </div>
        <div class="rightorleft">
            <div class="left">
                <a style="text-decoration: none" href="{{ url_for("Log") }}">
                    <button class="btn microsoftl">SIGN IN WITH <img src="/static/img/Logo_%20Microsoft.svg" alt="">
                    </button>
                </a>
                <a style="text-decoration: none" href="{{ url_for("Reg") }}">
                    <button class="btn signup">SIGN UP</button>
                </a>

                <p class="info">Trying to sign in with your Mojang account? <a
                        href="https://help.minecraft.net/hc/en-us/articles/19615552270221">Click Here</a> for more info.
                </p>
            </div>
            <div class="right">
                <p>Sign in or sign up to conveniently manage your games and wallet in one place!</p>
                <ul>
                    <li>Buy Minecraft games and Java Realms</li>
                    <li>Customize your Java profile name and character</li>
                    <li>Manage your Java and Bedrock Realms and invite friends</li>
                </ul>

            </div>
        </div>

    </div>
</section>
<div class="minisectiondiv">
    <div class="make-company">
        <div class="ccopmpany-mine">
            <div class="company-img">
                <img src="/static/img/Mojang2020Logo.png" alt="">
                <img src="/static/img/Logo_Xbox_Game_Studio.webp" alt="">


            </div>
            <div class="copmpany-text">
                <p class="text-copmany-text1t">
                    © 2024 Mojang AB. TM Microsoft Corporation.
                </p>
                <a class="link" href="https://www.minecraft.net/en-us/usage-guidelines">
                    <div class="text-copmany-text2t">
                        Minecraft Usage Guidelines
                    </div>
                </a>

            </div>
        </div>


    </div>
    <div class="Games-Comunity">
        <div class="link-one">
            <h1 class="game-links">Games</h1>

            <a class="link" href="{{ url_for("hello") }}">
                <div class="text-copmany-text2t one1oner">
                    Minecraft
                </div>
            </a>


            <a class="link" href="{{ url_for("md") }}">
                <div class="text-copmany-text2tt one1two">
                    Minecraft Dungeons
                </div>
            </a>
            <a class="link" href="{{ url_for("mlde") }}">
                <div class="text-copmany-text2ts one1five">Minecraft Legends</div>
            </a>
            <a class="link" href="https://education.minecraft.net/en-us">
                <div class="text-copmany-text2tr one1six">Minecraft Education</div>
            </a>


        </div>
        <div class="link-one1c">
            <h1 class="game-links">Community</h1>
            <a class="link" href="https://www.minecraft.net/en-us/community">
                <div class="text-copmany-text2io one1tipe">
                    Community
                </div>
            </a>
            <a class="link" href="https://www.minecraft.net/en-us/creator">
                <div class="text-copmany-text2pi one1site">
                    Creator Learning Portal
                </div>
            </a>
            <a class="link" href="https://www.minecraft.net/en-us/mojang-careers">
                <div class="text-copmany-text2JF one1mine">
                    Mojang Studios Careers
                </div>
            </a>
            <a class="link" href="https://www.minecraft.net/en-us/build-a-better-world">
                <div class="text-copmany-text2KP one1Gi">
                    Build a Better World

                </div>
            </a>


        </div>

    </div>
    <div class="games-minecraft-page">

        <div class="link-two">
            <h1 class="game-links">Shop</h1>
            <a class="link" href="https://www.minecraft.net/en-us/catalog">
                <div class="text-copmany-text2MS one1ZL">
                    Marketplace
                </div>
            </a>
            <a class="link" href="https://shop.minecraft.net/products/minecraft-pale-garden-personalized-hoodie">
                <div class="text-copmany-text2NB one1AS">
                    Minecraft Shop
                </div>
            </a>

        </div>
        <div class="link-3s">
            <h1 class="game-links">Support</h1>
            <a class="link" href="https://www.minecraft.net/en-us/minecraft-tips-for-beginners">
                <div class="text-copmany-text2PS one1MN">
                    Tips for Beginners
                </div>
            </a>
            <a class="link" href="https://help.minecraft.net/hc/en-us">
                <div class="text-copmany-text2OI one1OS">
                    Help

                </div>
            </a>
            <a class="link" href="https://feedback.minecraft.net/hc/en-us">
                <div class="text-copmany-text2ME one1KR">
                    Feedback

                </div>
            </a>

            <a class="link" href="https://www.minecraft.net/en-us/sitemap">
                <div class="text-copmany-text2IV one1GH">
                    Site Map

                </div>
            </a>
            <a class="link" href="https://www.minecraft.net/en-us/download">
                <div class="text-copmany-text2JR one1NO">
                    Download

                </div>
            </a>
            <a class="link" href="https://help.minecraft.net/hc/en-us/articles/4408904068621-Feedback-and-Fan-Mail">
                <div class="text-copmany-text2NN one1NF">
                    Contact us
                </div>
            </a>

        </div>
        <div class="link-4p">
            <h1 class="game-links">Account</h1>

            <a class="link"
               href="https://www.minecraft.net/en-us/login?return_url=https%3A%2F%2Fwww.minecraft.net%2Fen-us%2Fmsaprofile">
                <div class="text-copmany-text2CN one1CO">
                    Profile
                </div>
            </a>
            <a class="link" href="https://www.minecraft.net/en-us/redeem">
                <div class="text-copmany-text2CNS one1COS">
                    Redeem

                </div>

            </a>

        </div>

    </div>
    <div class="ersb">
        <img src="/static/img/esrb_2021%20.svg" alt="">
    </div>

</div>
<footer class="microsoft">
    <div class="languageminidiv">
        <img class="lengearth" src="/static/img/earth-americas-solid.svg" alt="">
        <p>English</p>
        <img class="lengearthf" src="/static/img/chevron-upp-solid.svg" alt="">

    </div>
    <div class="infomicrosoft">
        <a target="_blank" class="nonesads" href="https://www.microsoft.com/ru-ru/privacy/privacystatement">Privacy and
            Cookies</a>
        <a class="nonesads" href="https://www.minecraft.net/en-us/eula">Terms of use</a>
        <a class="nonesads" href="https://www.microsoft.com/trademarks">Trademarks</a>
        <a class="nonesads"
           href="https://account.microsoft.com/privacy/ad-settings/signedout?refd=www.minecraft.net&amp;ru=https%3A%2F%2Faccount.microsoft.com%2Fprivacy%2Fad-settings%3Frefd%3Dwww.minecraft.net">About
            our ads</a>
        <p> © 2025 Microsoft</p>

    </div>
    <img src="/static/img/Logo_%20Microsoft.svg" alt="">


</footer>

</body>
</html>